[{elvis, [
    {config, [
        #{ dirs => ["src/**", "test/**"]
         , filter => "*.erl"
         , ruleset => erl_files
         % these are not enforced by default, so are added here for completeness
         , rules => [{elvis_style, max_module_length, #{}}
                   , {elvis_style, no_common_caveats_call, #{}}
                   , {elvis_style, no_debug_call, disable}
                   , {elvis_style, dont_repeat_yourself, disable}
                    ]
         }
    ]}
  , {verbose, true}
]}].